@import "tailwindcss";

@theme {
  --color-brand-1: #f9c438;
  --color-brand-5: #080d15;
}

:root {
  --background: #080d15;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), system-ui, -apple-system, sans-serif;
}
